<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>index</title>
<link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body>

	<div class="container">
		<div class="page-header"> PM - v1</div>
		
    <div class="row">
      <div class="col-md-3">
        <ul class="nav stacked-nav">
          <li><a href="/products">View All</a></li>
          <li><a href="/products/new-form">Add New</a></li>
        </ul>
      </div>
      <div class="col-md-9">{{{body}}}</div>
    </div>
		
	</div>
	
</body>
</html>