<div clas="row">
    <div class="col-md-6">
        <div class="panel panel-default">
    <div class="panel-heading">Product Form</div>
    <div class="panel-body">
        <form action="/products/save-product" method="post">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" name="name" />
            </div>
            <div class="form-group">
                <label>Price</label>
                <input class="form-control" name="price" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" name="description"></textarea>
            </div>
            <button class="btn btn-primary">save</button>
        </form>
    </div>
</div>
    </div>
</div>